# Default ignored files
/shelf/
/workspace.xml
# Rider ignored files
/.idea.Memory Reboot AR.iml
/projectSettingsUpdater.xml
/modules.xml
/contentModel.xml
# Datasource local storage ignored files
/../../../../../../../../:\#Game_Projects\#UNREAL REALITY\ANOMALY TIME\Memory Reboot AR\.idea\.idea.Memory Reboot AR\.idea/dataSources/
/dataSources.local.xml
# Editor-based HTTP Client requests
/httpRequests/
