# Default ignored files
/shelf/
/workspace.xml
# Rider ignored files
/projectSettingsUpdater.xml
/contentModel.xml
/modules.xml
/.idea.Time Wars.iml
# Datasource local storage ignored files
/../../../../../../../:\GitHub_repositories_Projects\Time_Wars\Time Wars\.idea\.idea.Time Wars\.idea/dataSources/
/dataSources.local.xml
# Editor-based HTTP Client requests
/httpRequests/
